*.iml
.gradle
/local.properties
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/gradle.xml
/.idea/vcs.xml
/.idea/codeStyles/codeStyleConfig.xml
.DS_Store
talaiot/out/**
/build
/captures
.externalNativeBuild
