.rect_device_provider_initialise {
    fill: #db76ed;
}

.rect_device_provider_initialise:hover {
    fill: #8f4d9b;
}

.rect_device_initialise {
    fill: #ca22e8;
}

.rect_device_initialise:hover {
    fill: #6a0f7a;
}

.rect_passed_test {
    fill: #5cb85c;
}

.rect_passed_test:hover {
    fill: #449d44
}

.rect_failed_test {
    fill: #00534d;
}

.rect_failed_test:hover {
    fill: #00302c;
}

.rect_ignored_test {
    fill: #cccccc;
}

.rect_ignored_test:hover {
    fill: #848484;
}

.rect_incomplete_test {
    fill: #e8e821;
}

.rect_incomplete_test:hover {
    fill: #a8a817;
}

.rect_assumption_failure {
    fill: #ca812d;
}

.rect_assumption_failure:hover {
    fill: #8c591e;
}

.tooltip_passed_test {
    color: #449d44;
}

.tooltip_failed_test {
    color: #c9302c;
}

.tooltip_ignored_test {
    color: #cccccc;
}

div.tooltip {
    position: absolute;
    text-align: left;
    font-size: 10px;
    padding-left: 0;
    width: auto;
    border: 0;
    border-left: thin solid #000000;
    pointer-events: none;
    line-height: 12px;
    padding-top: 0;
    display: block;
}

.ytitle {
    dominant-baseline: central;
    font-size: 12px;
}

.ytitle.link {
    cursor: pointer;
    fill: #07C;
}

.axis path,
.axis line {
    display: none;
}

.axis text {
    font-size: 12px;
    fill: #777;
}

.vert_grid {
    fill: none;
    stroke: #dddddd;
    stroke-width: 1px;
}

.horz_grid {
    fill: none;
    stroke: #dddddd;
    stroke-width: 1px;
}

.heading {
    font-size: 16px;
    font-weight: bold;
}

.subheading {
    font-size: 12px;
    fill: #777;
}

.legend {
    dominant-baseline: central;
    font-size: 12px;
    fill: #777;
}